<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Zz : catalogue synthétique</title>
  </head>
  <body>
    <ol class="row">
      <li>
        <article class="product_pod">
          <p class="star-rating Three"></p>
          <h3><a href="zz-livre-1.html" title="Zz : livre synthétique">Zz : livre synth...</a></h3>
          <div class="product_price">
            <p class="price_color">£12.50</p>
            <p class="instock availability">
              In stock
            </p>
          </div>
        </article>
      </li>
      <li>
        <article class="product_pod">
          <h3><a href="zz-livre-2.html" title="Zz : autre livre synthétique">Zz : autre livre...</a></h3>
          <div class="product_price">
            <p class="price_color">£40.00</p>
          </div>
        </article>
      </li>
    </ol>
  </body>
</html>
